.loginPage{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(/loginBackground.jpg);
}
.leftSide{
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    padding-inline: 2%;
}
.header{
    padding: 2%;
    display: flex;
    width: 100%;
}
.logo{
    width: 12vh;
    height: auto;
}

.imageIllustration{
    width: 100%;
    padding-inline: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.illustration{
    width: 50vh;
    height:auto;
}

.loginSide{
    width: 50%;
    height: 100vh;
    float: right;
    background: linear-gradient(141.69deg, rgba(2, 198, 99, 0.42) 0%, rgba(0, 130, 255, 0.357) 100%);
    box-shadow: -28px 0px 49px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 1%;
    box-sizing: border-box;
}

.backIcon{
    margin: 0;
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm{
    padding:7%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 7vh;
}

.textSide h1{
    font-style: normal;
    font-weight: 800;
    font-size: 2.7rem;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;

}

.textSide p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.allInputs{
    padding: 4%;
    display: grid;
    align-items: center;
    gap: 3vh;
}
.div{
    background: #FFFFFF;              
    display: flex;
    box-sizing: border-box;
    border-radius: 100px;
}
.circl{
    width: 6vh;
    height: 6vh;
    z-index: 60;
    border-radius: 1000px;
    background-color: #008B45;
    position: absolute;
}
.input{
    height: 6vh;
    width: 100%;
    padding-left: 70px;
    text-align: left;
    background: none;
    border:none;
    border-radius: 80px;

    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 0.08em;

    color: #A8A8A8;
    outline: none;
}
.input:focus{
    border: none;
}
.button1{
    width: 100%;
    justify-content: center;
    display: flex;
}
.button{
    background-color:#008B45;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    height: 6vh;
    width: 30vh;

    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

    
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;
}
.button:hover{
    
}