.loginPage{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(/loginBackground.jpg);
}
.leftSide{
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    padding-inline: 2%;
}
.header{
    padding: 2%;
    display: flex;
    width: 100%;
}
.logo{
    width: 12vh;
    height: auto;
}

.imageIllustration{
    width: 100%;
    padding-inline: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.illustration{
    width: 50vh;
    height:auto;
}

.loginSide{
    width: 50%;
    height: 100vh;
    float: right;
    background: linear-gradient(141.69deg, rgba(2, 198, 99, 0.42) 0%, rgba(0, 130, 255, 0.357) 100%);
    box-shadow: -28px 0px 49px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 3%;
    box-sizing: border-box;
}

.backIcon{
    margin: 0;
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm{
    padding:7%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 7vh;
}

.textSide h1{
    font-style: normal;
    font-weight: 800;
    font-size: 2.7rem;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;

}

.textSide p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.allInputs{
    padding: 4%;
    display: grid;
    align-items: center;
    gap: 3vh;
}
.div{
    background: #FFFFFF;              
    display: flex;
    box-sizing: border-box;
    border-radius: 100px;
}
.circl{
    width: 6vh;
    height: 6vh;
    z-index: 60;
    border-radius: 1000px;
    background-color: #008B45;
    position: absolute;
}
.input{
    box-sizing: border-box;
    height: 6vh;
    width: 100%;
    padding-left: 60px;
    text-align: left;
    background: none;
    border:none;
    border-radius: 80px;

    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;

    letter-spacing: 0.08em;

    color: #505050;
    outline: none;
}

.button1{
    width: 100%;
    justify-content: center;
    display: flex;
}
.button{
    height: 6vh;
    width: 30vh;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;

    background: #008B45;
    letter-spacing: 0.08em;
    color: #ffffff;


    border: 3px solid #008B45;
    border-radius: 100px;
    transition: 0.2s ease-in-out;
}
.button:hover{
    scale: 1.04;
}

@media only screen and (max-width: 1024px){
    .loginSide{
        background: linear-gradient(141.69deg, rgba(2, 198, 99, 0.42) 0%, rgba(0, 130, 255, 0.357) 100%);
        backdrop-filter: blur(5px);
        position:absolute;
        width: 100%;
    }
    .leftSide{
        width: 100%;
    }
    .header{
        align-items: center;
        justify-content: center;
    }
    .logo{
        z-index: 90;
    }
}