.loginPage{
    box-sizing: border-box;
    height: 100vh;
}
.logo{

}
.loginSide{
    width: 50%;
    height: 100vh;
    float: right;
    background: linear-gradient(141.69deg, rgba(2, 198, 99, 0.42) 0%, rgba(0, 130, 255, 0.357) 100%);
    box-shadow: -28px 0px 49px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    padding: 1%;
}

.backIcon{
    margin: 0;
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 100px;
}

.containerForm{
    padding:10%;
}

.textSide h1{
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 57px;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;

}

.textSide p{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}
.allInputs{

}

.input{

}