@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body{
    position: relative;
}
.footer{
    position: absolute;
}
.allComponent{
    background-image: url(../../public/background.jpg);
    background-repeat: repeat-y;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

.backBtn{
    width: 7vh;
    height: 7vh;
    background-color: #000000a2;
    backdrop-filter: blur(3px);
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.backBtn:hover{
    background-color: #000000cb;
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.arrow{
    color: white;

}
